*, *:before, *:after {
  box-sizing: border-box;
}
body {
  padding-top: 3.75rem;
}
.App main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}